* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("https://th.bing.com/th/id/OIP.LhOt9xoHNkB4euLKIpja0wHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7");
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 100vw;
  max-height: 100vh;
  color: aliceblue;
  display: grid;
  place-items: center;
}

.createTODO {
  display: flex;
  margin: 10rem auto;
}

.createNewTODO,
.displayNewTODO,
.timeLimit {
  background-color: rgb(82, 80, 80);
  color: white;
  width: 400px;
  padding-left: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  outline: none;
}

.timeLimit{
  width: 200px;
  font-size: 1.4rem;
  margin-left: 1.4rem;
}

.displayTODO {
  display: flex;
  margin-top: 1rem; 
  font-size: 3rem;
}
.displayTime{
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color:rgb(251, 211, 211);
}


.markTODO {
  text-decoration: line-through;
}

.myBtnDone,
.myBtnAdd,
.myBtnDelete {
  margin-left: 1rem;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.myBtnDone{
  width: 200px;
}

.myBtnAdd {
  background-color: rgb(105, 254, 217);
  color: rgb(11, 11, 11);
}

.myBtnDelete {
  background-color: rgb(224, 7, 7);
  color: rgb(255, 247, 7);
}

.myBtnDelete:hover {
  cursor: pointer;
  background-color: rgb(245, 61, 61);
}

.myBtnDone:hover {
  cursor: pointer;
  background-color: rgb(120, 243, 96);
}

.myBtnAdd:hover {
  cursor: pointer;
  background-color: rgb(134, 194, 209);
}

.filter-buttons {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  
}

.displayPending, .displayCompleted, .displayAll{
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 200px;
  bottom: 3rem;
  background-color:rgb(149, 240, 240);
  font-weight: bold;
  color:rgb(52, 7, 255)
}

/* .displayCompleted{
  right: 30%;
} */

.displayPending:hover, .displayCompleted:hover{
  cursor: pointer;
}

